@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700,900|Oswald:400,300,700|Poiret+One|Raleway:400,300,200,500,600,700,800,900);
@import url("font-awesome.min.css");
.wrap {
  width: 100%;
  margin: 0 auto;
  background-image: url("../less/img/overlay.png"), url("../img/lowpoly-bg.jpg");
  background-repeat: repeat, no-repeat;
  background-size: auto, auto;
  -webkit-background-position: top left, center 0;
  background-position: top left, center 0;
  -ms-background-attachment: fixed, fixed;
  background-attachment: fixed, fixed;
}
[class^=container] {
  width: 100%;
  height: auto;
}
#infos,
#competences,
#portfolio,
#contact {
  width: 100%;
  max-width: 1080px;
  height: 300px;
  background-color: #FFFBF6;
  font-family: 'Raleway', sans-serif;
  color: #161616;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
}
#competences,
#portfolio,
#contact {
  margin-top: 10.8rem;
}
body {
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
  line-height: 1.7rem;
  color: #DDD;
  letter-spacing: 0.2px;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.body.is-scroll {
  background-attachment: scroll, scroll;
  background-size: auto, 100% auto;
}
body.is-loading * {
  -o-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
}
.row {
  width: 100%;
  background-color: #FFFBF6;
  position: relative;
  bottom: 70px;
}
[class^=list] {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-content: center;
  -moz-align-content: center;
  align-content: center;
}
[class^=ter-title] {
  font-family: 'Raleway', sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  text-transform: capitalize;
  color: #161616;
  margin: 0.3rem 0 0.5rem 0;
  letter-spacing: normal;
}
[class^=item] {
  width: 40%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-align-content: center;
  -moz-align-content: center;
  align-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  margin-bottom: 3rem;
}
[class^=container-img] {
  max-width: 1080px;
  width: 100%;
  height: auto;
  margin: 2rem 0 8rem 0;
  display: flex;
  justify-content: space-between;
}
[class^=container-img] img {
  padding: 4px;
  border: 1px solid #ccc;
}
.separation {
  width: 20%;
  margin: 0 auto;
  border-top: 3px solid rgba(63, 59, 59, 0.5);
  border-bottom: 1px solid rgba(63, 59, 59, 0.5);
  border-radius: 10px;
  margin: 15px auto 50px auto;
}
.header-title {
  font-size: 5rem;
  letter-spacing: 2px;
  font-weight: 600;
  line-height: 5.5rem;
  padding-bottom: 2rem;
}
.header-paragraphe .main-paragraphe {
  font-size: 1.5rem;
  margin-bottom: 70px;
}
a {
  text-decoration: none;
  -o-transition: border-color 0.35s ease-in-out, color 0.35s ease-in-out;
  -ms-transition: border-color 0.35s ease-in-out, color 0.35s ease-in-out;
  transition: border-color 0.35s ease-in-out, color 0.35s ease-in-out;
  color: #1C1C1C;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
}
a:hover {
  border-bottom-color: rgba(224, 130, 29, 0);
  color: #E0821D;
}
[class^=link] {
  font-size: 1.5rem;
  margin: 0 auto;
}
#infos,
#competences,
#portfolio,
#contact {
  height: auto;
  -webkit-text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.25);
  -ms-text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.25);
  text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.25);
  text-align: center;
  padding: 5.5rem 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#infos .block-title,
#competences .block-title,
#portfolio .block-title,
#contact .block-title {
  width: 100%;
  margin-bottom: 5rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#infos .main-title,
#competences .main-title,
#portfolio .main-title,
#contact .main-title {
  font-size: 5rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 1.2;
}
#infos .secondary-title,
#competences .secondary-title,
#portfolio .secondary-title,
#contact .secondary-title {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  font-weight: 400;
}
#infos .skills,
#competences .skills,
#portfolio .skills,
#contact .skills {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
}
#contact {
  height: 700px;
}
#infos::before,
#competences::before,
#portfolio::before {
  content: '';
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 90px;
  height: 66px;
  position: absolute;
  left: 50%;
  bottom: -5rem;
  margin-left: -45px;
  margin-bottom: -33px;
  background: url("img/arrow.svg") no-repeat;
}
#infos::after,
#competences::after,
#portfolio::after {
  content: '';
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom: -13.5rem;
  left: 50%;
  height: 13.5rem;
  border-left: solid 1px #fff;
}
#footer {
  max-width: 1080px;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  font-size: 1rem;
  margin: 0 auto;
  z-index: 999;
}
.button {
  display: inline-flex;
  display: -webkit-inline-flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -o-transition: border-color 0.35s ease-in-out, color 0.35s ease-in-out;
  -ms-transition: border-color 0.35s ease-in-out, color 0.35s ease-in-out;
  transition: border-color 0.35s ease-in-out, color 0.35s ease-in-out;
  position: relative;
  border: 0;
  background-color: #D8D2C9;
  color: #ffffff;
  text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.25);
  cursor: pointer;
  outline: 0;
  padding: 1.5rem 7rem;
  text-align: center;
  border-radius: 3rem;
  font-weight: 400;
}
.button.style1 {
  color: #1C1C1C;
  background-color: #D8D2C9;
  box-shadow: inset 0 0 0 1px #ffffff;
}
.button.style1:hover {
  background: rgba(216, 210, 201, 0.15);
  color: #E0821D !important;
  text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.25) !important;
}
.main-nav {
  width: 100%;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  z-index: 999;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.main-nav:hover {
  background-color: rgba(255, 255, 255, 0.94);
  transition: all 0.9s ease-in-out;
}
.main-nav a {
  padding: 0 0.5rem;
}
.main-nav [class^=clear] {
  width: 50vw;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
}
.main-nav .clear-left {
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  color: #161616;
  padding: 0 0.5rem;
}
.main-nav .clear-left .logo-nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  -moz-align-content: center;
  align-content: center;
}
.main-nav .clear-left .logo-nav #name {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
.main-nav .clear-left .logo-nav #job {
  font-family: 'Poiret One', cursive;
  font-weight: 400;
  font-size: 1.1rem;
}
.main-nav .clear-right {
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  -moz-align-content: center;
  align-content: center;
  padding: 0 0.5rem;
}
.main-nav .clear-right a {
  color: #1C1C1C;
  font-family: 'Poiret One', cursive;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 3.5rem;
}
.main-nav .clear-right a:hover {
  color: #E0821D;
}
.main-nav .clear-right-mobile {
  display: none;
}
#grid-header {
  position: relative;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  color: #DDD;
  text-align: center;
  letter-spacing: 3px;
  margin: 0 auto;
}
#grid-header header {
  margin-bottom: 1em;
  padding: 0 1.5rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#grid-header footer {
  width: 100%;
  position: absolute;
  margin: 0;
}
#grid-header footer::before {
  content: '';
  display: flex;
  width: 90px;
  height: 66px;
  position: absolute;
  left: 50%;
  bottom: -4.5em;
  margin-left: -45px;
  margin-bottom: -33px;
  background: url("img/arrow.svg") no-repeat;
}
#grid-header footer::after {
  content: '';
  display: flex;
  position: absolute;
  bottom: -9em;
  left: 50%;
  height: 9em;
  border-left: solid 1px #fff;
}
.bold {
  font-weight: 600;
}
.level-competences {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow: hidden;
  -moz-overflow: hidden;
  -ms-overflow: hidden;
  overflow: hidden;
  margin-left: 1rem;
  text-align: center;
}
.level-competences .list {
  display: table;
  width: 100%;
}
.level-competences .list .items {
  display: table-cell;
}
.level-competences .list .items:first-child {
  width: 10%;
  max-width: 35px;
}
.level-competences .list .items:last-child {
  width: 90%;
  vertical-align: middle;
}
.level-competences .list .items.bar {
  margin-left: 30px;
  margin-top: 20px;
}
.level {
  width: 80%;
  height: 30px;
  position: relative;
  background-color: #E6E6E6;
  border-radius: 5px;
}
.description {
  font-family: 'Raleway', sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
  text-align: left;
}
.go .level.html5 span {
  animation-delay: 750ms;
  animation-duration: 1000ms;
  animation-fill-mode: both;
  animation-timing-function: ease;
  animation-name: fill-85;
  width: 100%;
  height: 30px;
  background-color: #FF6666;
  position: absolute;
  opacity: 1;
  left: 0;
  top: 0;
  border-radius: 5px;
  overflow: hidden;
  text-indent: -290486px;
  z-index: 100;
}
.go .level.css3 span {
  animation-delay: 750ms;
  animation-duration: 1000ms;
  animation-fill-mode: both;
  animation-timing-function: ease;
  animation-name: fill-90;
  width: 100%;
  height: 30px;
  background-color: #5399c8;
  position: absolute;
  opacity: 1;
  left: 0;
  top: 0;
  border-radius: 5px;
  overflow: hidden;
  text-indent: -290486px;
  z-index: 100;
}
.go .level.js span {
  animation-delay: 750ms;
  animation-duration: 1000ms;
  animation-fill-mode: both;
  animation-timing-function: ease;
  animation-name: fill-60;
  width: 100%;
  height: 30px;
  background-color: #FEE074;
  position: absolute;
  opacity: 1;
  left: 0;
  top: 0;
  border-radius: 5px;
  overflow: hidden;
  text-indent: -290486px;
  z-index: 100;
}
.go .level.jq span {
  animation-delay: 750ms;
  animation-duration: 1000ms;
  animation-fill-mode: both;
  animation-timing-function: ease;
  animation-name: fill-30;
  width: 100%;
  height: 30px;
  background-color: #395979;
  position: absolute;
  opacity: 1;
  left: 0;
  top: 0;
  border-radius: 5px;
  overflow: hidden;
  text-indent: -290486px;
  z-index: 100;
}
.go .level.wp span {
  animation-delay: 750ms;
  animation-duration: 1000ms;
  animation-fill-mode: both;
  animation-timing-function: ease;
  animation-name: fill-60;
  width: 100%;
  height: 30px;
  background-color: #333;
  position: absolute;
  opacity: 1;
  left: 0;
  top: 0;
  border-radius: 5px;
  overflow: hidden;
  text-indent: -290486px;
  z-index: 100;
}
.go .level.psp span {
  animation-delay: 750ms;
  animation-duration: 1000ms;
  animation-fill-mode: both;
  animation-timing-function: ease;
  animation-name: fill-60;
  width: 100%;
  height: 30px;
  background-color: #84bd9c;
  position: absolute;
  opacity: 1;
  left: 0;
  top: 0;
  border-radius: 5px;
  overflow: hidden;
  text-indent: -290486px;
  z-index: 100;
}
.go .level.ci span {
  animation-delay: 750ms;
  animation-duration: 1000ms;
  animation-fill-mode: both;
  animation-timing-function: ease;
  animation-name: fill-40;
  width: 100%;
  height: 30px;
  background-color: #FCAB66;
  position: absolute;
  opacity: 1;
  left: 0;
  top: 0;
  border-radius: 5px;
  overflow: hidden;
  text-indent: -290486px;
  z-index: 100;
}
.go .level.ps span {
  animation-delay: 750ms;
  animation-duration: 1000ms;
  animation-fill-mode: both;
  animation-timing-function: ease;
  animation-name: fill-95;
  width: 100%;
  height: 30px;
  background-color: #193047;
  position: absolute;
  opacity: 1;
  left: 0;
  top: 0;
  border-radius: 5px;
  overflow: hidden;
  text-indent: -290486px;
  z-index: 100;
}
.go .level.ai span {
  animation-delay: 750ms;
  animation-duration: 1000ms;
  animation-fill-mode: both;
  animation-timing-function: ease;
  animation-name: fill-80;
  width: 100%;
  height: 30px;
  background-color: #C2571D;
  position: absolute;
  opacity: 1;
  left: 0;
  top: 0;
  border-radius: 5px;
  overflow: hidden;
  text-indent: -290486px;
  z-index: 100;
}
.contact {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.fa-user,
.fa-mobile,
.fa-envelope {
  margin-right: 10px;
}
[class^=icon] {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.icon-gp {
  background-color: #9b1a0d;
}
.icon-fb {
  background-color: #3c5b9b;
}
.icon-ig {
  background-color: #f4992c;
}
.icon-da {
  background-color: #48ae8b;
}
.icon-ld {
  background-color: #0173b2;
}
.icon-cp {
  background-color: #333333;
}
.icon-cc {
  background-color: #01836a;
}
.fa-google-plus,
.fa-facebook,
.fa-instagram,
.fa-deviantart,
.fa-linkedin,
.fa-codepen,
.fa-code {
  color: white;
}
@media (max-width: 1680px) {
  html {
    font-size: 1.2rem;
  }
}
@media (max-width: 1080px) {
  html {
    font-size: 1.2rem;
  }
  .link-crea {
    width: 200px;
    height: 200px;
    margin: 0 15px;
  }
  .main-nav {
    height: 150px;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
  }
  .main-nav [class^=clear] {
    width: 100%;
  }
  .main-nav .clear-left {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
  }
  .main-nav .clear-left .logo-nav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  .main-nav .clear-right {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    margin-top: 10px;
    padding: 0;
  }
  .main-nav .clear-right .main-link {
    line-height: 1.5rem !important;
    padding: 0 1rem;
  }
  .container-img {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem 0 4rem 0;
  }
  container-img.contact {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  .social-network {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-flex-direction: row !important;
    -moz-flex-direction: row !important;
    flex-direction: row !important;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -ms-box-sizing: border-box !important;
    box-sizing: border-box !important;
    padding: 0 2rem !important;
  }
  .social-network .link {
    margin: 5px !important;
  }
  .row {
    bottom: -355px !important;
  }
  #grid-header {
    top: 115px;
  }
  #grid-header header {
    padding: 12rem 0.5rem 1.5rem 0.5rem;
  }
  #grid-header footer {
    position: relative;
    top: 25px;
  }
  .img-logo {
    width: 30px;
    height: 30px;
  }
  .mockup {
    width: 240px;
    height: 240px;
  }
  .img-crea {
    width: 100%;
    height: 100%;
  }
  .header-title {
    font-size: 3rem;
    letter-spacing: 2px;
    line-height: 3.5rem;
    padding-bottom: 1.5rem;
  }
  .header-paragraphe p {
    font-size: 1.3rem;
    letter-spacing: 1px;
    margin-bottom: 140px;
  }
  .button {
    padding: 1rem 3rem;
    font-size: 1.2rem;
  }
  .separation {
    width: 50%;
    margin: 15px auto 30px auto;
  }
  .main-title {
    font-size: 2rem !important;
  }
  .secondary-title {
    font-size: 1rem !important;
  }
  .ter-title {
    font-size: 1.1rem !important;
  }
  .list {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
  }
  .list .item {
    width: 100%;
    height: auto;
  }
  .infos {
    font-size: 0.9rem;
  }
  .infosParagraphe {
    font-size: 1rem;
  }
  .level {
    height: 30px;
  }
  .go .level.html5 span {
    height: 30px;
  }
  .go .level.css3 span {
    height: 30px;
  }
  .go .level.js span {
    height: 30px;
  }
  .go .level.jq span {
    height: 30px;
  }
  .go .level.wp span {
    height: 30px;
  }
  .go .level.psp span {
    height: 30px;
  }
  .go .level.ci span {
    height: 30px;
  }
  .go .level.ps span {
    height: 30px;
  }
  .go .level.ai span {
    height: 30px;
  }
  .description {
    font-size: 0.9rem;
  }
}
@media (max-width: 860px) and (max-height: 860px) {
  html {
    font-size: 1.1rem;
  }
  .link-crea {
    width: 150px;
    height: 150px;
    margin: 0 15px;
  }
  .main-link {
    padding: 0 0.5rem !important;
  }
  .row {
    bottom: -275px !important;
  }
  #grid-header header {
    padding: 7rem 0.5rem 1.5rem 0.5rem;
  }
  #grid-header footer {
    position: relative;
    top: -25px;
  }
  .block-title {
    padding: 0 1rem;
  }
  .header-title {
    font-size: 3rem;
    letter-spacing: 2px;
    line-height: 3.5rem;
    padding-bottom: 1.5rem;
  }
  .header-paragraphe p {
    font-size: 1.3rem;
    letter-spacing: 1px;
    margin-bottom: 140px;
  }
  .main-title {
    font-size: 2rem !important;
  }
  .secondary-title {
    font-size: 1rem !important;
  }
  .ter-title {
    font-size: 1.1rem !important;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 0.9rem;
  }
  .link-crea {
    width: 150px;
    height: 150px;
    margin: 5px 0;
  }
  .main-nav {
    height: 150px;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
  }
  .main-nav [class^=clear] {
    width: 100%;
  }
  .main-nav .clear-left {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
  }
  .main-nav .clear-left .logo-nav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  .main-nav .clear-right {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    margin-top: 10px;
    padding: 0;
  }
  .main-nav .clear-right .main-link {
    line-height: 1.5rem !important;
    padding: 0 1rem;
  }
  .container-img {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    margin: 1rem 0 4rem 0;
  }
  .row {
    bottom: -70px !important;
  }
  #grid-header {
    top: 115px;
  }
  #grid-header header {
    padding: 2.5rem 0.5rem;
  }
  #grid-header footer {
    position: relative;
    top: -100px;
  }
  .img-logo {
    width: 30px;
    height: 30px;
  }
  .mockup {
    width: 150px;
    height: 150px;
  }
  .img-skills {
    width: 40px;
    height: 40px;
  }
  .img-crea {
    width: 100%;
    height: 100%;
  }
  .header-title {
    font-size: 2rem;
    letter-spacing: 2px;
    line-height: 2.5rem;
  }
  .header-paragraphe .main-paragraphe {
    font-size: 1.2rem;
    letter-spacing: 1px;
    padding-bottom: 20px;
  }
  .button {
    padding: 1rem 3rem;
    font-size: 1.2rem;
  }
  .separation {
    width: 50%;
    margin: 15px auto 30px auto;
  }
  .main-title {
    font-size: 2rem !important;
  }
  .secondary-title {
    font-size: 1rem !important;
  }
  .ter-title {
    font-size: 1.1rem !important;
  }
  .list {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
  }
  .list .item {
    width: 100%;
    height: auto;
  }
  .infos {
    font-size: 0.9rem;
  }
  .infosParagraphe {
    font-size: 1rem;
    text-align: justify;
  }
  .level {
    height: 20px;
  }
  .go .level.html5 span {
    height: 20px;
  }
  .go .level.css3 span {
    height: 20px;
  }
  .go .level.js span {
    height: 20px;
  }
  .go .level.jq span {
    height: 20px;
  }
  .go .level.wp span {
    height: 20px;
  }
  .go .level.psp span {
    height: 20px;
  }
  .go .level.ci span {
    height: 20px;
  }
  .go .level.ps span {
    height: 20px;
  }
  .go .level.ai span {
    height: 20px;
  }
  .description {
    font-size: 0.7rem;
  }
}
.background-image {
  background-image: url("../less/img/overlay.png"), url("../img/lowpoly-bg.jpg");
  background-repeat: repeat, no-repeat;
  background-size: auto, auto;
  -webkit-background-position: top left, center 0;
  background-position: top left, center 0;
  -ms-background-attachment: fixed, fixed;
  background-attachment: fixed, fixed;
}
.appearance {
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
}
@keyframes fill-100 {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@-webkit-keyframes fill-100 {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes fill-95 {
  from {
    width: 0%;
  }
  to {
    width: 95%;
  }
}
@-webkit-keyframes fill-95 {
  from {
    width: 0%;
  }
  to {
    width: 95%;
  }
}
@keyframes fill-90 {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}
@-webkit-keyframes fill-90 {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}
@keyframes fill-85 {
  from {
    width: 0%;
  }
  to {
    width: 85%;
  }
}
@-webkit-keyframes fill-85 {
  from {
    width: 0%;
  }
  to {
    width: 85%;
  }
}
@keyframes fill-80 {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}
@-webkit-keyframes fill-80 {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}
@keyframes fill-70 {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}
@-webkit-keyframes fill-70 {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}
@keyframes fill-60 {
  from {
    width: 0%;
  }
  to {
    width: 60%;
  }
}
@-webkit-keyframes fill-60 {
  from {
    width: 0%;
  }
  to {
    width: 60%;
  }
}
@keyframes fill-50 {
  from {
    width: 0%;
  }
  to {
    width: 50%;
  }
}
@-webkit-keyframes fill-50 {
  from {
    width: 0%;
  }
  to {
    width: 50%;
  }
}
@keyframes fill-40 {
  from {
    width: 0%;
  }
  to {
    width: 40%;
  }
}
@-webkit-keyframes fill-40 {
  from {
    width: 0%;
  }
  to {
    width: 40%;
  }
}
@keyframes fill-30 {
  from {
    width: 0%;
  }
  to {
    width: 30%;
  }
}
@-webkit-keyframes fill-30 {
  from {
    width: 0%;
  }
  to {
    width: 30%;
  }
}
@keyframes fadein {
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  100% {
    opacity: 1;
  }
}
@keyframes fadeout {
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeout {
  100% {
    opacity: 0;
  }
}
.transition-border {
  -o-transition: border-color 0.35s ease-in-out, color 0.35s ease-in-out;
  -ms-transition: border-color 0.35s ease-in-out, color 0.35s ease-in-out;
  transition: border-color 0.35s ease-in-out, color 0.35s ease-in-out;
}
