/* ------------------- */
/* *** LAYOUT *** */
/* ------------------- */
/*
*** Layout is styling the major components of the page 
*** ex : header, footer
*** See https://smacss.com/book/type-layout
*/
// --------------------------
/*
*** Top level of the Website
*/
.wrap {
    width: @default-container-width;
    height: auto;
}
// --------------------------
/*
*** Main sections of the website
*/
#banner {
    position: relative;
    .flex(@direction:column, @box:border-box);
    .justify-content(@justify:center);
    width: 100%;
    height: auto;
    font: @p-size @font-heading;
    color: @alto;
    text-align: center;
    letter-spacing: 1px;

    .main-paragraphe { margin-bottom: 70px; }

    .footer {
        position: absolute;
        bottom: 170px;
        .flex(@direction:column, @box:border-box);
        .justify-content(@justify:center);
        .align-items(@alignItems:center);
        width: 100%;
        //        margin: 0;

        &::before {
            content: '';
            position: absolute;
            bottom: -4.5em;
            left: 50%;
            .flex();
            width: 90px;
            height: 66px;
            margin-bottom: -33px;
            margin-left: -45px;
            background: url("img/arrow.svg") no-repeat;
        }
        &::after {
            content: '';
            position: absolute;
            bottom: -9em;
            left: 50%;
            .flex();
            height: 9em;
            border-left: solid 1px @white;
        }
    }
}

#infos, 
#competences, 
#portfolio, 
#contact {
    position: relative;
    .flex(@direction:column, @box:border-box);
    .justify-content();
    .align-items();
    width: @default-container-width;
    //    height: auto;
    background-color: @bridal-heath;
    padding: @large-plus-value;
    text-align: center;
}

#infos, 
#competences, 
#portfolio {
    &::before {
        content: '';
        position: absolute;
        bottom: -8.5rem;
        left: 50%;
        .flex();
        width: 90px;
        height: 66px;
        margin-bottom: -33px;
        margin-left: -45px;
        background: url("img/arrow.svg") no-repeat;
    }
    &::after {
        content: '';
        position: absolute;
        bottom: -16.5rem;
        left: 50%;
        .flex();
        height: 16.5rem;
        border-left: solid 1px #fff;
    }
}

#competences,
#portfolio,
#contact {
    margin-top: 16rem;
}

.container {
    width: @container-max-width;
    margin-top: 5px;
}

#footer {
    z-index: 999;
    .flex();
    .justify-content();
    max-width: @container-max-width;
    width: @default-container-width;
    padding: @small-value 0;
    margin: 0 auto;
    color: @alto;
    font: @font-size-middle @font-common;
}